<div class="container">
  <div class="row">
    <div class="col">
      <h2>Add Your Course</h2>

      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="courseName">Course Name</label>
          <input
            type="text"
            class="form-control"
            id="courseName"
            ngModel
            name="courseName"
            required
            #courseName="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input
            type="time"
            class="form-control"
            id="startTime"
            ngModel
            name="startTime"
            required
            #startTime="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="endTime">End Time</label>
          <input
            type="time"
            class="form-control"
            id="endTime"
            ngModel
            name="endTime"
            required
            #endTime="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="startRecur">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startRecur"
            ngModel
            name="startRecur"
            required
            #startRecur="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="endRecur">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endRecur"
            ngModel
            name="endRecur"
            required
            #endRecur="ngModel"
          />
        </div>

        <label for="daysOfWeek">Days</label>

        <div class="form-group form-check">
          <span *ngFor="let day of dayNames">
            <input
              type="checkbox"
              id="daysOfWeek"
              ngModel
              name="daysOfWeek"
              class="form-check-input"
              #daysOfWeek="ngModel"
              [id]="day['name'] + day['id']"
              [value]="day['id']"
              (change)="onCheckChange($event)"
            />
            <label class="form-check-label" [for]="day['name'] + day['id']">
              {{ day["name"] }}
            </label>
            <br />
          </span>
        </div>

        <div class="form-group">
          <label for="semesterSeason">Semester Season</label>

          <select
            id="semesterSeason"
            class="form-control"
            ngModel
            name="semesterSeason"
            required
            #semesterSeason="ngModel"
          >
            <option *ngFor="let season of semesterSeasons" [value]="season">
              {{ season }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="semesterYear">Semester Year</label>

          <input
            type="number"
            class="form-control"
            id="semesterYear"
            ngModel
            name="semesterYear"
            [min]="currentYear"
            required
            #semesterYear="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="teacherName">Teacher's Name</label>
          <input
            type="text"
            class="form-control"
            id="teacherName"
            ngModel
            name="teacherName"
            required
            #teacherName="ngModel"
            (change)="onCheckChange($event)"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
