<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    &#43; Add
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/organizely/classform">Class</a>
    <a class="dropdown-item">Assignment</a>
    <a class="dropdown-item" routerLink="/organizely/taskform">Task</a>
  </div>
</div>

<full-calendar
  *ngIf="calendarVisible"
  [options]="calendarOptions"
></full-calendar>
