/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.validation-msg {
  color: red;
}

.lg-badge {
  font-size: 16px;
}
