<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Organizely</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Focus Zone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quotes</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="align-items: center;">  
          <li><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-set-v5-user-outline/64/Account_profile_user_avatar_rounded-512.png" alt="User Avatar" width="90" height="90"></li>
          <li style="color: white; align-content: center;">
              Welcome, [Username]!
          </li>
        </ul>
      </div>
    </div>
  </nav>