<div class="container">
  <div class="row">
    <div class="col">
      <h2>Add A Task</h2>

      <form (ngSubmit)="onSubmit(taskForm.value)" #taskForm="ngForm">
        <div class="form-group">
          <label for="studentTaskName">Task Name</label>

          <input
            type="text"
            class="form-control"
            id="studentTaskName"
            [ngModel]="
              currentStudentTask ? currentStudentTask.studentTaskName : null
            "
            name="studentTaskName"
            required
            #studentTaskName="ngModel"
          />

          <span
            class="form-text validation-msg"
            *ngIf="!studentTaskName.valid && studentTaskName.touched"
            >Please enter a task.</span
          >
        </div>

        <div class="form-group">
          <label for="priority">Priority</label>

          <select
            name="priority"
            id="priority"
            class="form-control"
            [ngModel]="currentStudentTask ? currentStudentTask.priority : null"
            required
            #priority="ngModel"
          >
            <option value="" disabled>...</option>
            <option *ngFor="let priority of priorityOptions" [value]="priority">
              {{ priority }}
            </option>
          </select>

          <span
            class="form-text validation-msg"
            *ngIf="!priority.valid && priority.touched"
            >Please select a priority.</span
          >
        </div>

        <div class="form-group">
          <label for="taskDueDate">Due Date</label>

          <input
            type="date"
            class="form-control"
            id="taskDueDate"
            [ngModel]="
              currentStudentTask
                ? changeDateFormat(currentStudentTask.taskDueDate)
                : null
            "
            name="taskDueDate"
            required
            #taskDueDate="ngModel"
          />

          <span
            class="form-text validation-msg"
            *ngIf="!taskDueDate.valid && taskDueDate.touched"
            >Please select a date.</span
          >
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!taskForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
