<div class="container">
  <div class="row">
    <div class="col">
      <h2>Add A Task</h2>

      <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
          <label for="taskName">Task Name</label>

          <input
            type="text"
            class="form-control"
            id="taskName"
            ngModel
            name="taskName"
            required
            #taskName="ngModel"
          />

          <span
            class="form-text validation-msg"
            *ngIf="!taskName.valid && taskName.touched"
            >Please enter a task.</span
          >
        </div>

        <div class="form-group">
          <label for="priority">Priority</label>

          <select
            name="priority"
            id="priority"
            class="form-control"
            ngModel
            required
            #priority="ngModel"
          >
            <option value="" disabled>...</option>
            <option *ngFor="let priority of priorityOptions" [value]="priority">
              {{ priority }}
            </option>
          </select>

          <span
            class="form-text validation-msg"
            *ngIf="!priority.valid && priority.touched"
            >Please select a priority.</span
          >
        </div>

        <div class="form-group">
          <label for="dueDate">Due Date</label>

          <input
            type="date"
            class="form-control"
            id="dueDate"
            ngModel
            name="dueDate"
            required
            #dueDate="ngModel"
          />

          <span
            class="form-text validation-msg"
            *ngIf="!dueDate.valid && dueDate.touched"
            >Please select a date.</span
          >
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!taskForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
