<br />
<h1 style="text-align: center">Classes</h1>
<br />

<button
  style="float: right; margin-right: 7px"
  class="btn btn-dark"
  routerLink="/organizely/classform"
>
  Add Class
</button>

<br />
<br />

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#semester"
      >Semester View</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#schoolyear"
      >School Year View</a
    >
  </li>
</ul>

<div class="tab-content">
  <div id="semester" class="tab-pane fade in active show">
    <h2>
      Current Semester:
      {{ currentSemester ? currentSemester["semesterSeason"] : null }}
      {{ currentSemester ? currentSemester["semesterYear"] : null }}
    </h2>

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Class Time</th>
          <th scope="col">Class Name</th>
          <th scope="col">Teacher</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of currentCourses">
          <td>
            <span *ngFor="let day of course.daysOfWeek"
              >{{ day | dayString }} {{ course.startTime | standardTime }} -
              {{ course.endTime | standardTime }}
              <br />
            </span>
          </td>
          <td>{{ course.courseName }}</td>
          <td>{{ course.teacherName }}</td>
          <td>
            <button
              class="btn btn-dark"
              routerLink="/organizely/classform/{{ course.courseId }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="onDeleteCourse(course.courseId)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 *ngIf="currentCourses && currentCourses.length === 0">No courses</h3>
  </div>

  <div id="schoolyear" class="tab-pane fade">
    <h3 *ngIf="(semestersBySchoolYear | json) === '{}'">No courses</h3>

    <div *ngFor="let schoolYear of semestersBySchoolYear | keyvalue">
      <div *ngFor="let season of schoolYear.value | keyvalue">
        <h2>Semester: {{ season.key }} {{ schoolYear.key }}</h2>

        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Class Time</th>
              <th scope="col">Class Name</th>
              <th scope="col">Teacher</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of season.value | keyvalue; let i = index">
              <td>
                <span *ngFor="let day of course.value['daysOfWeek']"
                  >{{ day | dayString }}
                  {{ course.value["startTime"] | standardTime }} -
                  {{ course.value["endTime"] | standardTime }}
                  <br />
                </span>
              </td>
              <td>{{ course.value["courseName"] }}</td>
              <td>{{ course.value["teacherName"] }}</td>
              <td>
                <button
                  class="btn btn-dark"
                  routerLink="/organizely/classform/{{
                    course.value['courseId']
                  }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  (click)="onDeleteCourse(course.value['courseId'])"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
